# Data Science Tools and Ecosystem

## Author
Luis Alfredo Alvarado Rodr√≠guez

## **Objectives:**
- List popular languages for Data Science
- List of communly used libraries used by Data Scientist
- How use tables in markdown
- Exemples of evaluating arithmetic expressions in Python

This is a homework for my course of Data Science. Im a student in Coursera.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scikit-learn

| Data Science Tools |
|--------------------|
| Python             |
| Jupyter            |
| Git                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
1 + 1

2

In [2]:
(23 ** 8) % 5

1

In [3]:
7//9

0

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335